@using CaroOnline.Helper
@{
    ViewBag.Title = "Index";
}
@if (CurrentContext.IsLogged())
{
    @*<h2>@CurrentContext.GetCurUser().Name</h2>*@

}

<div class="col-9 ">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified indigo rounded p-1" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel5" role="tab"><i class="fa fa-users"></i> Cộng đồng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel6" role="tab"><i class="fa fa-trophy"></i> Top game thủ</a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-envelope"></i> Mail</a>
            </li>*@
    </ul>
    <!-- Tab panels -->
    <div class="tab-content white card px-1 rounded">
        <!--Panel 1-->
        <div class="tab-pane fade in show active" id="panel5" role="tabpanel">
            <div class="card-body pt-2">
                <div class="row">
                    @for (int i = 0; i < 12; i++)
                    {
                        <div class="col-2 mb-2 px-1">
                            <div class="card text-center">
                                <div class="card-body p-3">
                                    @*<img src="~/Content/default_user.png" />*@
                                    <img src="~/Content/default_user.png" alt="Material Design for Bootstrap - example photo" class="img-fluid rounded-circle z-depth-1-half">
                                </div>
                                <h6 class="card-title primary-text grey lighten-4 py-1 mb-1">Tài khoản 
                                @if (i % 2 == 0)
                                {
                                    <i class="fa fa-circle success-text"></i>
                                }
                                else
                                {
                                    <i class="fa fa-circle grey-text"></i>
                                }</h6>
                                <p class="warning-text mb-1">Điểm: 500 &nbsp;<i class="fa fa-heart"></i> 

                                </p>
                                <div class="card-footer px-0">
                                    <span class="badge badge-pill success-color font-weight-light">10 Thắng</span>
                                    <span class="badge badge-pill danger-color font-weight-light">10 Thua</span>
                                    <span class="badge badge-pill special-color font-weight-light">10 Hòa</span>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <nav aria-label="..." class="float-right">
                    <ul class="pagination pg-red">
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">«</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link waves-effect waves-effect" href="#">
                                2
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">»</a>
                        </li>
                    </ul>
                </nav>




            </div>
        </div>
        <!--/.Panel 1-->
        <!--Panel 2-->
        <div class="tab-pane fade" id="panel6" role="tabpanel">
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        </div>
        <!--/.Panel 2-->
        <!--Panel 3-->
        @*<div class="tab-pane fade" id="panel7" role="tabpanel">
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
            </div>*@
        <!--/.Panel 3-->
    </div>


</div>



@section js{
    <script>
    $(document).ready(function () {
        var t = "@ViewBag.msgError";
        if (t != "") {
            toastr.error(t, "Thông báo", {
                "positionClass": "toast-top-right",
            });
        }
        t = "@ViewBag.msgSuccess";
        if (t != "") {
            toastr.success(t, "Thông báo", {
                "positionClass": "toast-top-right",
            });
        }
    });


    </script>

}