@using CaroOnline.Models
@model Cell[,]
@{
    ViewBag.Title = "Play";
}
<style>
    .check-board {
        cursor: pointer;
        user-select: none;
        /*border-image:url(/Content/rsz_border.jpg) 630 630 round;*/
        /*background-image:url(/Content/background.png);*/
        background-color: #ffcc99;
    }
</style>

<img src="~/Content/o.png" style="display:none" id="imgO" />
<img src="~/Content/x.png" style="display:none" id="imgX" />
<div class="col-lg-6" style="">
    <div class="card rounded check-board" style="width:630px;height:630px;border:2px solid #ffffff;">
        @* border:1px solid #d3d3d3; *@
    <canvas id="TableChess" class="rounded " width="630" height="630" style="pointer-events:none"></canvas>
    @*onclick="storeGuess(event)"*@
</div>
</div>
<div class="col-lg-3 col-md-6 mb-r px-4">

    <div class="card card-body text-center">
        <div class="avatar mt-1 px-5">
            <img src="~/Content/default_user.png" class="rounded-circle img-fluid">
        </div>
        <h5 class="font-bold">
            <strong id="uName2">Tài khoản</strong>
        </h5>
        <p class="grey-text">Graphic designer</p>
        <div class="progress primary-color-dark">
            <div class="indeterminate"></div>
        </div>
        <ul class="list-unstyled">
            <!-- Facebook -->
            <a class="icons-sm fb-ic">
                <i class="fa fa-facebook blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="icons-sm tw-ic">
                <i class="fa fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="icons-sm ins-ic">
                <i class="fa fa-instagram blue-text"> </i>
            </a>
        </ul>
    </div>
    <h2 id="test"></h2>
    <button class="btn btn-success btn-block btn-lg mb-1" id="btnReady" style="display:none"><i class="fa fa-check mr-2"></i>SẴNG SÀNG</button>
    <button class="btn btn-danger btn-block btn-lg mb-1" id="btnStart" style="display:none"><i class="fa fa-paper-plane-o mr-2"></i>BẮT ĐẦU</button>
    <p class="white-text h6" style="display:none" id="txtReady">Đang chờ người chơi sẵng sàng ...</p>
</div>

@section js{
<script src="~/Scripts/Caro/Cell.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalr/hubs"></script>    

    <script>
        //#region cratechessboard


        //var t=;
        var ArrMaxtrix = [];
        for (var i = 0; i < 21; i++) {
            var arr1 = [];
            for (var j = 0; j < 21; j++) {
                arr1.push(new Cell(i, j, 0));
            }
            ArrMaxtrix.push(arr1);

        }

        var canvas = document.getElementById('TableChess');
        var context = canvas.getContext('2d');
        var imgX = document.getElementById("imgX");
        var imgO = document.getElementById("imgO");
        var currImg = imgX;
        
        var oldX = -1, oldY = -1;
        canvas.addEventListener('mousemove', function (evt) {
            var rect = canvas.getBoundingClientRect();
            var mouseX = evt.clientX - rect.left - 0.5;
            var mouseY = evt.clientY - rect.top;
            if (mouseX < 0 || mouseY < 0 || mouseX > 630 || mouseY > 630) {
                return;
            }
            if (mouseX % Cell.SizeRect() == 0 || mouseY % Cell.SizeRect() == 0) {
                return;
            }

            var oi = Math.floor(oldX / Cell.SizeRect()), oj = Math.floor(oldY / Cell.SizeRect());
            var i = Math.floor(mouseX / Cell.SizeRect()), j = Math.floor(mouseY / Cell.SizeRect());
            if (oi != -1 || oj != -1) {
                if (oi != i || oj != j) {

                    if (ArrMaxtrix[oi][oj].Owner == 0) {

                        //context.fillStyle = "white";
                        //context.fillRect((oi * Cell.SizeRect()) + 3, (oj * Cell.SizeRect()) + 3, Cell.SizeRect() - 7, Cell.SizeRect()-7);
                        context.clearRect((oi * Cell.SizeRect()) + 3, (oj * Cell.SizeRect()) + 3, Cell.SizeRect() - 7, Cell.SizeRect() - 7);

                        oldX = mouseX;
                        oldY = mouseY;
                    }
                }
            }
            oldX = mouseX;
            oldY = mouseY;
            if (ArrMaxtrix[i][j].Owner == 0) {
                context.drawImage(currImg, (i * Cell.SizeRect()) + 3, (j * Cell.SizeRect()) + 3, Cell.SizeRect() - 7, Cell.SizeRect() - 7);
            }

            $('#test').text(mouseX + " | " + mouseY);

        }, false);
        //draw point
        context.strokeStyle = '#6d4c41';
        for (var i = 1; i < 21; i++) {
            for (var j = 0; j < 21; j++) {
                context.beginPath();


                context.arc(i * Cell.SizeRect(), j * Cell.SizeRect(), 1.25, 0, 2 * Math.PI, true);
                context.fill();
                context.stroke();
            }
        }
        context.beginPath();
        //draw line with x
        for (var i = 0; i < 21; i++) {

            context.moveTo(i * Cell.SizeRect(), 0);
            context.lineTo(i * Cell.SizeRect(), 630);


        }
        //draw line with y
        for (var i = 0; i < 22; i++) {

            context.moveTo(0, i * Cell.SizeRect());
            context.lineTo(630, i * Cell.SizeRect());
        }


        context.closePath();
        context.lineWidth = 1;
        context.strokeStyle = '#6d4c41';//rgba(76, 175, 80, 0.7)

        //'#3f51b5';
        context.stroke();
        //#endregion createchessboard
        $(document).ready(function () {


            var curUName = $('#currUserName').text().trim();
            var url_string = window.location.href;
            var url = new URL(url_string);
            var UserName1 = url.searchParams.get("uname1").trim();
            var UserName2 = url.searchParams.get("uname2").trim();

            var competitorId,competitorImg,competitorOwner,currOwner;

            $.connection.hub.qs = { 'UserName1': UserName1, 'UserName2': UserName2 };
            var hgame = $.connection.gameHub;

            hgame.client.paintChess = function (competitorId, i, j, currOwner) {
                context.drawImage(competitorImg, (i * Cell.SizeRect()) + 3, (j * Cell.SizeRect()) + 3, Cell.SizeRect() - 7, Cell.SizeRect() - 7);
                ArrMaxtrix[i][j].Owner = currOwner;
                context.stroke();
            };
            hgame.client.readyGame = function () {
                $('#btnStart').removeAttr("disabled");
                $('#txtReady').text("Người chơi đã sẵng sàng hãy bắt đầu ngay!!!");
            }
            hgame.client.startGame = function () {
                $('#TableChess').css("pointer-events", "auto");
            }
            $.connection.hub.start().done(function () {
                if (UserName1 != curUName) {//đối thủ là u1
                    $('#uName2').text(UserName1);
                    currImg = imgX;
                    //competitorId = cnnIDUser1;
                    competitorImg = imgO;
                    competitorOwner = 1;
                    currOwner = 2;
                    hgame.server.updateCnnID(UserName1);
                    $('#btnReady').css('display', 'block');

                }else if (UserName2 != curUName) {//đối thủ là u2
                    $('#uName2').text(UserName2);
                    currImg = imgO;
                    //competitorId = cnnIDUser2;
                    competitorImg = imgX;
                    competitorOwner = 2;
                    currOwner = 1;
                    hgame.server.updateCnnID(UserName2);

                    $('#btnStart').css('display', 'block');
                    $('#btnStart').attr("disabled");
                    $('#txtReady').css('display', 'block');
                }
                $('#btnReady').on('click', function () {
                    hgame.server.readyGame($('#uName2').text().trim());
                });
                $('#btnStart').on('click', function () {
                    hgame.server.startGame($('#uName2').text().trim());
                    $('#TableChess').css("pointer-events", 'auto');

                });
                canvas.addEventListener('click', function (evt) {
                    var rect = canvas.getBoundingClientRect();
                    var mouseX = evt.clientX - rect.left - 0.5;
                    var mouseY = evt.clientY - rect.top;

                    $('#test').text(mouseX + " | " + mouseY);
                    if (mouseX % Cell.SizeRect() == 0 || mouseY % Cell.SizeRect() == 0) {
                        return;
                    }
                    var i = Math.floor(mouseX / Cell.SizeRect()), j = Math.floor(mouseY / Cell.SizeRect());

                    if (ArrMaxtrix[i][j].Owner == 0) {

                        context.drawImage(currImg, (i * Cell.SizeRect()) + 3, (j * Cell.SizeRect()) + 3, Cell.SizeRect() - 7, Cell.SizeRect() - 7);
                        ArrMaxtrix[i][j].Owner = currOwner;
                        
                        hgame.server.paintChess(competitorId, i, j, currOwner);
                        //if (currImg == imgO) {
                        //    currImg = imgX;
                        //} else {
                        //    currImg = imgO;
                        //}
                    }
                }, false);
            });
        });
        
    </script>

<script>
        


</script>

}